﻿
@font-face {
    font-family: 'Panton Black Caps'; /* Гарнитура шрифта */
    src: url(../fonts/panton.black-caps.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'Roboto-Regular'; /* Гарнитура шрифта */
    src: url(../fonts/roboto/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'Roboto-Medium'; /* Гарнитура шрифта */
    src: url(../fonts/roboto/Roboto-Medium.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'Roboto-Bold'; /* Гарнитура шрифта */
    src: url(../fonts/roboto/Roboto-Bold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'Roboto-Light'; /* Гарнитура шрифта */
    src: url(../fonts/roboto/Roboto-Light.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'Roboto-Thin'; /* Гарнитура шрифта */
    src: url(../fonts/roboto/Roboto-Thin.ttf); /* Путь к файлу со шрифтом */
}



*{
    outline: none !important;
}
.btn{
    border: 0px;
    box-shadow: none;
}
a:focus,a,a:hover,a:active{
    text-decoration: none;
}

.h1, .h2, .h3, .h4, .h20px, .h5, .h6{}
.h1{
    /*font-size: 36px;*/
}
.h2{
    /*font-size: 30px;*/
}
.h3{
    /*font-size: 24px;*/
}
.h20px{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.h4{
    /*font-size: 18px;*/
}
.h16px{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.h5{
    /*font-size: 14px;*/
}
.h6{
    /*font-size: 12px;*/
}
.fs26{
    font-size: 26px;
}
.fs24{
    font-size: 24px;
}
.fs22{
    font-size: 22px;
}
.fs20{
    font-size: 20px;
}
.fs18{
    font-size: 16px;
}
.fs16{
    font-size: 18px;
}
.fs14{
    font-size: 14px;
}
.fs12{
    font-size: 12px;
}

.light{
    font-weight: 300;
}
.ff_pbc{
    font-family: 'Panton Black Caps'; /* Гарнитура шрифта */
}


.mt35{
    margin-top: 35px;
}
.mt30{
    margin-top: 30px;
}
.mt25{
    margin-top: 25px;
}
.mt20{
    margin-top: 20px;
}
.mt15{
    margin-top: 15px;
}
.mt10{
    margin-top: 10px;
}
.mt5{
    margin-top: 5px;
}
.mb35{
    margin-bottom: 35px;
}
.mb30{
    margin-bottom: 30px;
}
.mb25{
    margin-bottom: 25px;
}
.mb20{
    margin-bottom: 20px;
}
.mb15{
    margin-bottom: 15px;
}
.mb10{
    margin-bottom: 10px;
}
.mb5{
    margin-bottom: 5px;
}



[class*='btn_']>.fa{
    position: relative;
    top: -1px;
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-color: #ffffff;
    /*color: #444444;*/
    color: #212121;
    min-width: 320px;
}
.s_wrapper{
    height: 100vh;
    width: 100%;
    padding: 42px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    color: #000000;
    background: #d9efed;
    background: -moz-linear-gradient(left, #303f9f 50%, #009688 50%, #009688 50%);
    background: -webkit-gradient(linear, left left, left right, color-stop(50%,#303f9f), color-stop(50%,#009688), color-stop(50%,#009688));
    background: -webkit-linear-gradient(left, #303f9f 50%,#009688 50%,#009688 50%);
    background: -o-linear-gradient(left, #303f9f 50%,#009688 50%,#009688 50%);
    background: -ms-linear-gradient(left, #303f9f 50%,#009688 50%,#009688 50%);
    background: linear-gradient(to right, #303f9f 50%,#009688 50%,#009688 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303f9f', endColorstr='#009688',GradientType=0 );

    background-image: url('../img/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.s_wrapper:before,
.s_wrapper:after{
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    bottom: 0px;
}
.s_wrapper:before{
    left: 0px;
    right: 50%;
    background: #303f9f;
    background: rgba(48,63,159, 0.85);
}
.s_wrapper:after{
    right: 0px;
    left: 50%;
    background: #009688;
    background: rgba(0,150,136, 0.85);
}
.s_wrapper_bg{
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    /*background-color: #000000;*/
    /*background-image: url('../img/main-bg.png');*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}
.s_wrapper_inner{
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    opacity: 1;
    -moz-transition: opacity 0.3s;
    -webkit-transition:opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;

    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration:  0.1s;
    transition-duration:  0.1s;
}
.modal-open .s_wrapper_inner{
    opacity: 0;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.s_wrapper_bg .s_wrapper_inner{
    background-color: transparent;
    color: #ffffff;
}
.container-fluid{}

.modal.shadow{}
.modal.shadow .modal-content{
    -webkit-box-shadow: 0px 0px 150px 0px rgba(245,245,245,1);
    -moz-box-shadow: 0px 0px 150px 0px rgba(245,245,245,1);
    box-shadow: 0px 0px 150px 0px rgba(245,245,245,1);
}
.modal .alert_modal_text{
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    line-height: 35px;
}
.modal.shadow .modal-header{
    /*padding-top: 44px;*/
}
.modal.shadow .modal-header{
    /*padding-bottom: 40px;*/
}

.logo_txt{
    font-size: 46px;
    line-height: 45px;
}
.large_btn{
    font-size: 26px;
    display: inline-block;
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 30px;
    color: #ffffff;
    font-weight: bold;
    background-color: #666666;
    border-bottom: 2px solid #323232;
    text-shadow: 0px -1px 0px #000000;
}
.large_btn:hover,
.large_btn:focus,
.large_btn:active,
.large_btn.active{
    color: #ffffff;
}
.large_btn.blue{
    text-shadow: 0px -1px 0px #00101f;
    border-color: #114262;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3e85b3+0,387aa3+52,337096+100 */
    background: rgb(62,133,179); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(62,133,179,1) 0%, rgba(56,122,163,1) 52%, rgba(51,112,150,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,133,179,1)), color-stop(52%,rgba(56,122,163,1)), color-stop(100%,rgba(51,112,150,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(62,133,179,1) 0%,rgba(56,122,163,1) 52%,rgba(51,112,150,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(62,133,179,1) 0%,rgba(56,122,163,1) 52%,rgba(51,112,150,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(62,133,179,1) 0%,rgba(56,122,163,1) 52%,rgba(51,112,150,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(62,133,179,1) 0%,rgba(56,122,163,1) 52%,rgba(51,112,150,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e85b3', endColorstr='#337096',GradientType=0 ); /* IE6-9 */
}
.large_btn.green{
    text-shadow: 0px -1px 0px #26835a;
    border-color: #1b724c;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#60c99a+0,4bbf8c+52,39b77f+100 */
    background: rgb(96,201,154); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(96,201,154,1) 0%, rgba(75,191,140,1) 52%, rgba(57,183,127,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,201,154,1)), color-stop(52%,rgba(75,191,140,1)), color-stop(100%,rgba(57,183,127,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(96,201,154,1) 0%,rgba(75,191,140,1) 52%,rgba(57,183,127,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(96,201,154,1) 0%,rgba(75,191,140,1) 52%,rgba(57,183,127,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(96,201,154,1) 0%,rgba(75,191,140,1) 52%,rgba(57,183,127,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(96,201,154,1) 0%,rgba(75,191,140,1) 52%,rgba(57,183,127,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60c99a', endColorstr='#39b77f',GradientType=0 ); /* IE6-9 */
}
.large_btn.white{
    width: 300px;
    height: 58px;
    line-height: 54px;
    border: 2px solid #ffffff;
    border-radius: 1px;
    background: transparent;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 14px;
}

.header_block{
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 48px;
    border-bottom: 1px solid #b8cddb;

    max-width: 1175px;
    margin-left: auto;
    margin-right: auto;
}
.s_wrapper_bg .header_block{
    border-bottom-color: transparent;
}
.header_block .left_part{
    /*margin-left: 33%;*/
}
.header_block .middle_part{}
.header_block .right_part{
    /*margin-right: 33%;*/
}
.header_block a{
    color: #000000;
}
.s_wrapper_bg .header_block a{
    color: #ffffff;
}
.header_block .socials,
.content_panel .socials{
    margin-left: -3px;
    margin-bottom: 0px;
    margin-top: 5px;
}
.header_block .socials li,
.content_panel .socials li{
    padding-right: 3px;
    padding-left: 3px;
}
.header_block .socials a{}
.header_block .socials a:hover,
.header_block .socials a:active,
.header_block .socials a:focus,
.header_block .socials a.active{}
.header_block .socials .fa-stack,
.content_panel .socials .fa-stack{
    width: 32px;
    height: 32px;
    font-size: 18px;
    line-height: 36px;
}
.header_block .socials .fa-stack-1x,
.content_panel .socials .fa-stack-1x{
    font-size: 16px;
}
.header_block .authorizations_options{
    margin-top: 13px;
    margin-bottom: 0px;
}
.header_block .authorizations_options li{}
.header_block .authorizations_options li+li{
    margin-left: 10px;
}
.header_block .authorizations_options a{
    border-bottom: 1px solid #d5d5d5;
}
.s_wrapper_bg .header_block .authorizations_options a{
    /*border-bottom-color: #7e927f;*/
    border-bottom-color: transparent;
    font-size: 16px;
    font-weight: bold;
}
.header_block .authorizations_options a:hover,
.header_block .authorizations_options a:active,
.header_block .authorizations_options a:focus,
.header_block .authorizations_options a.active{}
.working_block{
    /*padding-top: 48px;*/
    padding-top: 15px;
}
.working_block .max_width{
    max-width: 370px;
}
.working_block .left_part.max_width{
    margin-left: auto;
    margin-right: 8%;
}
.working_block .right_part.max_width{
    margin-right: auto;
    margin-left: 8%;
}
.working_block .icon{
    margin-bottom: 32px;
}
.working_block .text{
    font-size: 20px;
    margin-bottom: 35px;
}
.working_block .button{}
.working_block .icon img{
    margin-left: auto;
    margin-right: auto;
}
.working_block .button .large_btn{}
.pos_rel{
    position: relative;
}
.line_half{
    position: absolute;
    background: rgba(255,255,255, 0.35);
    height: 1px;
    width: 9%;
    bottom: 28px;

    display: none;
}
.working_block .left_part .line_half{
    right: 0px;
}
.working_block .right_part .line_half{
    left: 0px;
}
.modal{
    /*top: 50px;*/
    top: 80px;
}
.modal-backdrop{
    background-color: transparent;
}
.modal-md{
    max-width: 470px;
}
.modal-content{
    /*background: rgba(255,255,255, 0.85);*/
    background: #ffffff;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(191,223,250,0.5), inset 0px 0px 5px 0px rgba(191,223,250,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(191,223,250,0.5), inset 0px 0px 5px 0px rgba(191,223,250,1);
    box-shadow: 0px 0px 2px 0px rgba(191,223,250,0.5), inset 0px 0px 5px 0px rgba(191,223,250,1);

    border: 0px;
}
.modal-title{
    text-align: center;
}
.modal-body, .modal-header{
    padding-left: 34px;
    padding-right: 34px;
}
.modal-header{
    padding-top: 28px;
    border-bottom: 0px;
}
.modal-body{
    padding-bottom: 35px;
}
.modal-header .close{
    margin-top: -20px;
    margin-right: -15px;
    color: #010101;
    opacity: 1;
}
label{
    /*font-weight: 500;*/
    /*font-weight: normal;*/
}
.form-group{
    margin-bottom: 13px;
}
.form-control{
    border: 0;
    border-bottom: 1px solid #b6b6b6;
    color: #212121;
    height: 43px;
    border-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: normal;
    font-size: 16px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control::-webkit-input-placeholder {color:#b6b6b6;}
.form-control::-moz-placeholder          {color:#b6b6b6;}
.form-control:-moz-placeholder           {color:#b6b6b6;}
.form-control:-ms-input-placeholder      {color:#b6b6b6;}
.btn-success{
    background-color: #61c99b;
    border-radius: 3px;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success.active{
    background-color: #61c99b;
}

.btn-warning{
    background-color: #ffc107;
    border-radius: 3px;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus,
.btn-warning.active{
    background-color: #ffc107;
}


.license_agreement{
    color: #3e4451;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: -3px;
}
.license_agreement a{
    color: #3e4451;
    border-bottom: 1px solid #aaaaaa;
}
.license_agreement a:hover,
.license_agreement a:active,
.license_agreement a:focus,
.license_agreement a.active{}


.sp_icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../img/icons-sprite.png');
    background-repeat: no-repeat;
}
.sp_icon.icon_cog{
    background-position: 0px -16px;
}
.sp_icon.icon_question{
    background-position: -16px -16px;
}
.sp_icon.icon_user{
    background-position: -32px -16px;
}
.sp_icon.icon_cog.white{
    background-position: 0px 0px;
}
.sp_icon.icon_question.white{
    background-position: -16px 0px;
}
.sp_icon.icon_user.white{
    background-position: -32px 0px;
}
.sp_icon.icon_cog.dark{
    background-position: 0px -32px;
}
.sp_icon.icon_question.dark{
    background-position: -16px -32px;
}
.sp_icon.icon_user.dark{
    background-position: -32px -32px;
}

.performer_theme{}
.employer_theme{}

.performer_icon{
    display: inline-block;
    width: 15px;
    height: 16px;
    background-image: url('../img/performer-icon.png');
    background-repeat: no-repeat;
}
.lock_icon{
    display: inline-block;
    background-image: url('../img/lock-icon.png');
    background-repeat: no-repeat;
    width: 11px;
    height: 15px;
}
.delete_icon{
    display: inline-block;
    background-image: url('../img/delete-icon.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 19px;
}
.attention-icon{
    display: inline-block;
    background-image: url('../img/attention-icon.png');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}


.top_block{
    /*margin-bottom: -101px;*/
    padding-top: 60px;
}
.top_block .top_line{
    background-color: #3c3c3c;
    padding-top: 11px;
    padding-bottom: 11px;
    font-weight: bold;
    font-size: 16px;
    position: fixed;
    left: 15px;
    right: 15px;
    top: 0px;
    z-index: 10;

    /*border-bottom: 1px solid transparent;*/
}
.employer_theme .top_block .top_line{
    background-color: #303f9f;
    border-bottom-color: #303f9f;
}
.performer_theme .top_block .top_line{
    background-color: #009688;
    border-bottom-color: #009688;
}
.top_line_logo{
    color: #ffffff;
    font-size: 24px;
}
.login_ul,
.main_ul{
    float: right;
    margin-top: 7px;
    margin-bottom: 0px;
}
.login_ul li{
    position: relative;
}
.login_ul li+li{
    margin-left: 18px;
}
.login_ul li a,
.main_ul li a{
    color: #ffffff;
    position: relative;
}
.login_ul li a:after,
.main_ul li a:after{
    position: absolute;
    content: "";
    display: block;
    height: 5px;
    left: 0px;
    right: 0px;
    bottom: -20px;
    background: transparent;
}
.login_ul li .sp_icon{
    position: absolute;
    left: -19px;
    top: 1px;
}
.main_ul{
    float: left;
}
.main_ul li{}
.main_ul li+li{
    margin-left: 32px;
}
.main_ul li a{}
.main_ul li .sp_icon{}
.login_ul li a:hover,
.main_ul li a:hover,
.login_ul li a:focus,
.main_ul li a:focus,
.login_ul li a.active,
.main_ul li a.active{
    color: #ffeb3b;
}
.login_ul li a:hover:after,
.main_ul li a:hover:after,
.login_ul li a:focus:after,
.main_ul li a:focus:after,
.login_ul li a.active:after,
.main_ul li a.active:after{
    background: currentColor;
}

.top_block .top_line .btn.pull-right{}
.top_block .top_line .btn.pull-right{
    margin-left: 35px;
    font-weight: bold;
}
.top_block .top_line .email_link{
    color: #ffeb3b;
    font-weight: normal;
}
.top_block .top_line .performer_icon,
.top_block .top_line .lock_icon{
    margin-right: 3px;
    position: relative;
    top: 2px;
}
.btn{
    border-radius: 2px;
    padding: 8px 14px;
}
.btn-primary{
    background-color: #347198;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.active{
    background-color: #347198;
}
.btn-danger{
    background-color: #f34235;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus,
.btn-danger.active{
    background-color: #f34235;
}
.account_link{
    color: currentColor;
    font-size: 16px;
    display: inline-block;
    margin-top: 7px;
}
.account_link .sp_icon{
    margin-right: 39px;
    position: relative;
    top: 2px;
}
.left_panel,
.content_panel{
    /*margin-left: -15px;*/
    /*margin-right: -15px;*/
    padding-bottom: 40px;
    position: relative;
}
.left_panel{
    width: 365px;
    border-right: 1px solid #f5f5f5;
    /*background-color: #f5f5f5;*/
    padding-bottom: 40px;

    position: fixed;
    left: 0px;
    top: 60px;
    bottom: 0px;
    z-index: 2;

    -webkit-box-shadow: 3px 0px 17px 1px rgba(245,245,245,1);
    -moz-box-shadow: 3px 0px 17px 1px rgba(245,245,245,1);
    box-shadow: 3px 0px 17px 1px rgba(245,245,245,1);
}
.hackwork_link{
    font-weight: normal;
    position: absolute;
    font-size: 16px;
    color: #b6b6b6;
    left: 20px;
    bottom: 10px;
}
.content_panel{
    padding-bottom: 60px;
}
.content_panel:before,
.content_panel:after{
    display: block;
    clear: both;
    content: "";
}
.content_panel .socials{
    position: absolute;
    margin-top: -3px;
    bottom: 15px;
    right: 15px;
}
.content_panel .socials .fa-stack{
    color: #303f9f;
}
.content_wrapper{
    /*min-height: 100vh;*/
    /*padding-top: 101px;*/
}
.content_wrapper>div{
    /*height: 100%;*/
}
.left_panel .image_container{
    margin-right: -1px;
    position: relative;
    background: #222222;
    background-image: url('../img/emp-per-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
}
.employer_theme .left_panel .image_container{
    /*background-image: url('../img/employer-bg.jpg');*/
}
.performer_theme .left_panel .image_container{
    /*background-image: url('../img/performer-bg.jpg');*/
}
.left_panel .image_container .profile_image_circle{
    background-color: #000000;
    border-radius: 100%;
    width: 144px;
    height: 144px;
    position: absolute;
    margin-top: -72px;
    top: 50%;
    left: 20px;
    overflow: hidden;
}
.employer_theme .left_panel .image_container .profile_image_circle{
    background-color: #002336;
}
.performer_theme .left_panel .image_container .profile_image_circle{
    background-color: #002e2c;
}
.left_panel .image_container .profile_image_circle img{
    width: 100%;
}
.left_panel .image_container .profile_use_name{
    position: absolute;
    font-size: 24px;
    color: #ffffff;
    top: 42px;
    max-width: 120px;
    left: 50%;
    margin-left: 20px;
}
.fire_image{
    width: 100%;
}


.left_menu_block{
    padding-top: 30px;
    /*border-bottom: 1px solid #d8d8d8;*/
    padding-bottom: 5px;
}
.left_menu_block .menu_title{
    position: relative;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 14px;
}
.left_menu_block .menu_title .sp_icon{
    position: absolute;
    left: 20px;
    top: 0px;
}
.left_menu_block .list-group{
    margin-bottom: 20px;
}
.left_menu_block .list-group-item{
    background: transparent;
    border-radius: 0px;
    border: 0px;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: currentColor;
    font-weight: normal;
}
.left_menu_block .list-group-item .number{
    color: #212121;
    font-weight: bold;
    float: right;
}
.left_menu_block .list-group-item+.list-group-item{
    margin-top: 4px;
}
.left_menu_block .menu_title,
.left_menu_block .list-group-item{
    padding-left: 16%;
    padding-right: 16%;
    border-left: 8px solid transparent;
}
.left_menu_block .list-group-item:hover,
.left_menu_block .list-group-item:active,
.left_menu_block .list-group-item:focus,
.left_menu_block .list-group-item.active{
    color: #212121;
    background: #f5f5f5;
    border-left-color: #b6b6b6;
}
.personal_information_form{}
.form_title{
    margin-top: 45px;
    margin-bottom: 40px;
    font-weight: normal;
    position: relative;
}
.content_wrapper .form-control{
    border-color: #b8cddb;
    font-size: 16px;
}
.content_wrapper label{
    display: block;
    margin-bottom: 1px;
}
.content_wrapper label.gr_lb{
    display: inline-block;
}
/*.content_wrapper .form-control::-webkit-input-placeholder {color:#b8cddb;}*/
/*.content_wrapper .form-control::-moz-placeholder          {color:#b8cddb;}*/
/*.content_wrapper .form-control:-moz-placeholder           {color:#b8cddb;}*/
/*.content_wrapper .form-control:-ms-input-placeholder      {color:#b8cddb;}*/
.btn.fs20{
    padding-right: 45px;
    padding-left: 45px;
}
.time_group{}
.time_group label{
    display: inline-block;
    margin-right: 12px;
    font-weight: normal;
}
.time_group input{
    width: 95px;
    margin-right: 35px;
    text-align: center;
    display: inline-block;
}
.specialization_link{
    color: #303f9f;
    font-size: 16px;
    display: inline-block;
    line-height: 36px;
    font-weight: normal;
}
.specialization_link .glyphicon{
    font-size: 12px;
}

.left_form{
    padding: 50px 25px 15px;
}
.left_form label{
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
}
.left_form .form-control{
    padding-left: 12px;
    padding-right: 12px;
    height: 38px;
    border-color: #b8cddb;
    font-size: 16px;
}
.left_form .checkbox{
    float: left;
}
.left_form .checkbox.w50per{
    width: 50%;
}
.left_form .checkbox.w100per{
    width: 100%;
}
.left_form .checkbox+.checkbox{
    margin-top: 10px;
}
.left_form .checkbox label{
    padding-left: 0px;
    /*font-weight: 500;*/
    font-weight: normal;
}
.left_form .btn{
    padding-left: 12px;
    padding-right: 12px;
    display: block;
    width: 100%;
}
.left_form .form-group{
    margin-bottom: 23px;
}
.with_on{
    position: relative;
}
.on_input{
    background-color: #ffffff;
    font-weight: normal;
    position: absolute;
    padding-left: 5px;
    font-size: 16px;
    color: #b6b6b6;
    right: 8px;
    top: 8px;
}
.icheckbox_minimal-blue{
    margin-right: 7px;
}

.search_group{
    position: relative;
    margin-bottom: 40px;
}
.search_group .glyphicon{
    position: absolute;
    color: #b6b6b6;
    left: 0px;
    top: 50%;
    margin-top: -8px;
    font-size: 16px;
}
.search_group .form-control{
    padding-left: 30px;
    padding-right: 12px;
    height: 36px;
}
.search_group .form-control.bootstrap-select{
    padding-left: 0px;
    padding-right: 0px;
}
.search_group  .btn-group.bootstrap-select.form-control .dropdown-toggle{
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 6px;
}
.search_group .bootstrap-select .check-mark{
    text-align: right;
    color: #ffffff;
}
.search_group .bootstrap-select.btn-group .dropdown-menu li.disabled.selected{
    display: none;
}

.performer_preview_item{
    font-size: 16px;
    padding-top: 20px;
    font-weight: normal;
    padding-bottom: 20px;
    border-bottom: 1px solid #d8d8d8;
}
.performer_preview_item .left_part{}
.performer_preview_item .right_part{}
.performer_preview_item .avatar_img{}
.performer_preview_item .title{
    margin-top: -8px;
    position: relative;
    margin-bottom: 8px;
    /*padding-right: 85px;*/
}
.performer_preview_item .name{
    color: #303f9f;
}
.performer_preview_item .label{
    text-transform: lowercase;
    border-radius: 2px;
    position: absolute;
    padding: 5px 3px;
    font-size: 14px;
    width: 80px;
    right: 0px;
    top: 8px;
}
.performer_preview_item .label-default{
    background-color: #d8d8d8;
    color: #212121;
}
.performer_preview_item .label-success{
    background-color: #4caf50;
    color: #ffffff;
}
.performer_preview_item .attributes{
    color: #b6b6b6;
    margin-bottom: 30px;
}
.performer_preview_item .attributes li{
    position: relative;
}
.performer_preview_item .attributes .company{
    color: #212121;
    font-weight: bold;
}
.performer_preview_item .attributes li+li{
    margin-left: 10px;
}
.performer_preview_item .attributes li+li:before{
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: currentColor;
    top: 11px;
    left: -8px;
}
.performer_preview_item .text{}

.rating_list{
    font-size: 16px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.rating_list>li{
    padding-right: 0px;
    padding-left: 0px;
}
.rating_point{
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: #f34235;
}
.rating_point.active,
.rating_point.hover,
.active>.rating_point,
.hover>.rating_point{
    background-color: #009688;
}
.rating_point.half.active,
.active.half>.rating_point{
    background: #d9efed;
    background: -moz-linear-gradient(left, #009688 50%, #f34235 50%, #f34235 50%);
    background: -webkit-gradient(linear, left left, left right, color-stop(50%,#009688), color-stop(50%,#f34235), color-stop(50%,#f34235));
    background: -webkit-linear-gradient(left, #009688 50%,#f34235 50%,#f34235 50%);
    background: -o-linear-gradient(left, #009688 50%,#f34235 50%,#f34235 50%);
    background: -ms-linear-gradient(left, #009688 50%,#f34235 50%,#f34235 50%);
    background: linear-gradient(to right, #009688 50%,#f34235 50%,#f34235 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009688', endColorstr='#f34235',GradientType=0 );
}
.rating_point:before{
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 2px solid #ffffff;
    background: transparent;
    left: 50%;
    top: 50%;
    margin-top: -6px;
    margin-left: -6px;
}

.performer_preview_item .rating_list,
.form_title .rating_list{
    position: absolute;
    right: 0px;
    top: 10px;
}
.performer_preview_item .title{
    padding-right: 110px;
}
.form_title{
    padding-right: 210px;
}
.form_title .rating_list{
    top: 6px;
}
.form_title .rating_list:before{
    content: "Общий рейтинг:";
    position: absolute;
    text-align: left;
    font-size: 14px;
    color: #b6b6b6;
    width: 120px;
    right: 100%;
    top: 3px;
}

#mm-menu-toggle{
    top: 20px;
    left: 16px;
    display: none;
}
.arrow_substrate{
    height: 60px;
    background-color: #3c3c3c;
    display: none;
}
.employer_theme .arrow_substrate{
    background-color: #303f9f;
}
.performer_theme .arrow_substrate{
    background-color: #009688;
}
.mm-menu-toggle::before, .mm-menu-toggle::after{
    background-color: #ffffff;
}
.mm-menu-toggle{
    background: -webkit-linear-gradient(90deg, rgba(33, 33, 33, 0), rgba(33, 33, 33, 0) 7px, #ffffff 7px, #ffffff 11px, rgba(33, 33, 33, 0) 11px, rgba(33, 33, 33, 0) 18px);
    background: linear-gradient(0deg, rgba(33, 33, 33, 0), rgba(33, 33, 33, 0) 7px, #ffffff 7px, #ffffff 11px, rgba(33, 33, 33, 0) 11px, rgba(33, 33, 33, 0) 18px);
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: .3s;
}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

.btn-group.bootstrap-select.form-control{
    margin-top: 2px;
}
.btn-group.bootstrap-select.form-control,
.btn-group.bootstrap-select.form-control:hover,
.btn-group.bootstrap-select.form-control .dropdown-toggle,
.btn-group.bootstrap-select.form-control .dropdown-toggle:focus{
    outline: none !important;
    background: transparent;
    box-shadow: none;
}
.btn-group.bootstrap-select.form-control .dropdown-toggle{
    border-bottom: 1px solid #b6b6b6;
    padding-left: 0px;
    color: #b6b6b6;
}
.btn-group.bootstrap-select.form-control .dropdown-toggle,
.bootstrap-select.btn-group .dropdown-menu li{
    font-size: 16px;
}
.bootstrap-select.btn-group .dropdown-menu{
    margin-top: -4px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.dropdown-menu {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-top: 1px;
}
.bootstrap-select .dropdown-menu>li>a{
    /*color: #b6b6b6;*/
}
.btn-group.open .dropdown-toggle {
    box-shadow: none;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.bootstrap-select > .btn-default:before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    height: calc(100% - 2px);
    width: 30px;
    background-color: #FFF;
    background-position: right calc(100% - 7px);
    background-repeat: no-repeat;
    background-image: url("../img/select.png");
    pointer-events: none;
    z-index: 1;
}
.bootstrap-select.open > .btn-default:after {
    width: 100%;
}
.bootstrap-select > .btn-default:not(.disabled):after, .bootstrap-select > .btn-default:not(.readonly):after {
    background: #26a69a;
}
.bootstrap-select > .btn-default:after {
    position: absolute;
    z-index: 3;
    bottom: -1px;
    left: 0;
    height: 2px;
    width: 0;
    content: "";
    /*-webkit-transition: all;*/
    /*-o-transition: all;*/
    /*transition: all;*/
    /*-webkit-transition-duration: 300ms;*/
    /*transition-duration: 300ms;*/
}
.bootstrap-select.btn-group:not([data-animation]) .dropdown-menu {
    /*-webkit-transform: scale(0);*/
    /*-ms-transform: scale(0);*/
    /*-o-transform: scale(0);*/
    /*transform: scale(0);*/
    /*opacity: 0;*/
    /*filter: alpha(opacity=0);*/
    /*display: block;*/
}
.dropdown .dropdown-menu:not([data-animation]):not(.pull-right):not(.dropdown-menu-right), .bootstrap-select .dropdown-menu:not([data-animation]):not(.pull-right):not(.dropdown-menu-right), .btn-group .dropdown-menu:not([data-animation]):not(.pull-right):not(.dropdown-menu-right) {
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}
.dropdown.open .dropdown-menu:not([data-animation]), .dropup.open .dropdown-menu:not([data-animation]), .bootstrap-select.open .dropdown-menu:not([data-animation]), .btn-group.open .dropdown-menu:not([data-animation]) {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}
.dropdown .dropdown-menu:not([data-animation]):not(.pull-right):not(.dropdown-menu-right), .bootstrap-select .dropdown-menu:not([data-animation]):not(.pull-right):not(.dropdown-menu-right), .btn-group .dropdown-menu:not([data-animation]):not(.pull-right):not(.dropdown-menu-right) {
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}
.dropdown.open .dropdown-menu:not([data-animation]), .dropup.open .dropdown-menu:not([data-animation]), .bootstrap-select.open .dropdown-menu:not([data-animation]), .btn-group.open .dropdown-menu:not([data-animation]) {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}
.bootstrap-select .selected .check-mark {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    font-size: 14px;
}
.bootstrap-select .check-mark {
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: -5px !important;
    font-size: 19px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    display: block !important;
    position: absolute;
    top: 11px;
    right: 15px;
}

.gr_lb{
    display: inline-block;
    border-radius: 1px;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #212121;
    text-align: center;
    height: 36px;
    line-height: 36px;
    padding-left: 13px;
    padding-right: 13px;
    cursor: pointer;
}
.gr_lb+.gr_lb{
    margin-left: 15px;
}
.gr_lb>i{
    margin-right: 3px;
    position: relative;
    top: 2px;
}
.gr_lb>.icheckbox_minimal-blue{
    margin-left: 8px;
    margin-right: 8px;
}
textarea{
    resize: none;
}
.text-danger,
.attention_block{
    color: #f34235;
}
.attention_block{}
.attention_block .attention-icon{
    margin-right: 5px;
}
.attention_block span{
    position: relative;
    top: -10px;
}
.options{}
.form_title+.options{
    margin-top: -20px;
}
.performer_preview_item.notification_item{
    background-color: #f5f5f5;
    padding: 14px 0px 22px;
    border-radius: 1px;
    border: 0px;
    margin-bottom: 15px;
}
.performer_preview_item.notification_item:hover{
    background-color: #fff9c4;
}
.performer_preview_item.notification_item:after{
    display: block;
    content: " ";
    clear: both;
}
.performer_preview_item.notification_item .left_part{
    float: left;
    width: 70px;
}
.performer_preview_item.notification_item .right_part{
    float: left;
    width: -webkit-calc(100% - 70px);
    width: -moz-calc(100% - 70px);
    width: calc(100% - 70px);
}
.performer_preview_item.notification_item .attributes{
    margin-top: 5px;
    margin-bottom: 10px;
}
.performer_preview_item.notification_item .gr_lb{
    background: transparent;
}



@media (min-height: 570px) and (max-height: 650px) and  (min-width: 767px){
    .working_block {
         padding-top: 0px;
    }
    .working_block .icon {
        margin-bottom: 20px;
    }
    .working_block .text {
        margin-bottom: 15px;
    }
}
@media (min-height: 450px) and (max-height: 570px) and  (min-width: 767px){
    .working_block {
        padding-top: 0px;
        margin-top: -30px;
    }
    .working_block .icon {
        margin-bottom: 10px;
    }
    .working_block .icon img {
        width: 60px;
        height: 60px;
    }
    .working_block .text {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .working_block .button .large_btn {
        font-size: 22px;
        height: 50px;
        line-height: 42px;
    }
    .line_half{
        bottom: 24px;
    }
}

@media (min-width: 320px) and (max-width: 940px){
    .left_panel{
        width: 100%;
    }
    .arrow_substrate{
        display: block;
    }
    #mm-menu-toggle{
        display: block;
    }
    .top_line_logo{
        padding-left: 40px;
    }
}




@media (min-width: 1201px) and (max-width: 1600px){
    .top_block{
        padding-top: 104px;
    }
    .left_panel{
        top: 104px;
    }
    .login_ul{
        float: left;
        width: 100%;
        margin-top: 16px;
        margin-bottom: 6px;
        /*text-align: left;*/
    }
    .left_panel .image_container .profile_image_circle{
        width: 100px;
        height: 100px;
        margin-top: -50px;
        left: 10px;
    }
    .left_panel .image_container .profile_use_name{
        font-size: 18px;
        margin-left: 10px;
        top: 35px;
    }
    .left_panel .image_container{
        height: 130px;
    }
    .left_form{
        padding-left: 15px;
        padding-right: 15px;
    }
    .left_form .btn{
        font-size: 12px;
    }
}
@media (min-width: 993px) and (max-width: 1200px) {
    .top_block{
        padding-top: 107px;
    }
    .left_panel{
        top: 107px;
    }
    .login_ul{
        float: left;
        width: 100%;
        margin-bottom: 6px;
    }
    .main_ul{
        margin-bottom: 15px;
    }
    .main_ul li+li{
        margin-left: 5px;
    }
    .left_panel .image_container{
        height: 160px;
    }
    .left_panel .image_container .profile_image_circle{
        width: 100px;
        height: 100px;
        margin-top: -50px;
    }
    .left_panel .image_container .profile_use_name{
        font-size: 22px;
        margin-left: 10px;
    }
    .left_form .btn{
        font-size: 14px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .login_ul{
        float: left;
        width: 100%;
        margin-bottom: 7px;
        /*text-align: left;*/
    }
    .left_menu_block .list-group-item{
        font-size: 12px;
    }
    .left_menu_block .menu_title .sp_icon,
    .hackwork_link{
        left: 10px;
    }
    .top_block .top_line .btn.pull-right{
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .left_panel .image_container{
        height: 120px;
    }
    .left_panel .image_container .profile_image_circle{
        width: 66px;
        height: 66px;
        margin-top: -33px;
    }
    .left_panel .image_container .profile_use_name{
        font-size: 18px;
        margin-left: 0px;
        top: 30px;
    }
    .performer_preview_item .title{
        margin-top: 5px;
    }
    .left_form{
        padding-left: 15px;
        padding-right: 15px;
    }
    .left_form .btn{
        font-size: 12px;
    }
    .logo_txt{
        font-size: 36px;
    }
    .working_block .button .large_btn{
        width: 280px;
    }
    .header_block .authorizations_options {
        margin-top: 14px;
        font-size: 13px;
    }
    .form_title{
        padding-right: 110px;
    }
    .form_title .rating_list{
        top: 29px;
    }
    .form_title .rating_list:before{
        right: initial;
        left: 0px;
        width: 100%;
        top: -20px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .top_block .top_line,
    .login_ul,
    .main_ul{
        text-align: center;
        float: none;
    }
    .login_ul li,
    .login_ul li+li,
    .main_ul li,
    .main_ul li+li{
        margin: 0px;
        display: block;
        padding: 3px 0px;
        margin-bottom: 15px;
    }
    .top_block .top_line .btn.pull-right{
        float: none !important;
        margin: 7px 0px 3px;
    }
    .account_link{
        font-size: 13px;
    }
    .form_title {
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .form_title+.options{
        margin-top: 0px;
    }
    .btn.fs20{
        width: 100%;
    }
    .left_form .btn.fs20{
        font-size: 18px;
    }
    .time_group input{
        margin-right: 15px;
    }
    .content_panel .socials{
        left: 15px;
        text-align: center
    }
    .left_panel .image_container{
        height: 180px;
    }
    .search_group{
        margin-bottom: 20px;
    }
    .performer_preview_item .title{
        margin-top: 5px;
    }
    .top_line_logo{
        padding-left: 0px;
    }

    .s_wrapper{
        height: initial;
    }
    .logo_txt{
        font-size: 36px;
    }
    .working_block .button .large_btn{
        width: 220px;
        height: 50px;
        line-height: 48px;
        /*font-size: 20px;*/
        margin-bottom: 20px;
    }
    .header_block .socials,
    .header_block .right_part{
        text-align: center;
    }
    .header_block .socials{
        margin-bottom: 15px;
    }
    .working_block{
        padding-top: 0px;
    }
    .working_block .text{
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .working_block .left_part.max_width,
    .working_block .right_part.max_width{
        margin-left: auto;
        margin-right: auto;
    }
    .line_half{
        display: none;
    }
    .left_panel{
        position: relative;
        top: initial;
        bottom: initial;
    }
    .mm-menu{
        background-color: #f5f5f5;
    }
    .form_title{
        padding-right: 110px;
    }
    .form_title .rating_list{
        top: 29px;
    }
    .form_title .rating_list:before{
        right: initial;
        left: 0px;
        width: 100%;
        top: -20px;
    }
    .performer_preview_item.notification_item .left_part,
    .performer_preview_item.notification_item .right_part{
        float: none;
        width: 100%;
    }
    .performer_preview_item.notification_item .right_part{
        padding-left: 20px;
        padding-right: 20px;
    }

}


